<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>汽车个人中心</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <link th:href="@{/css/style2.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/js/jquery-2.2.4.min.js}"></script><!--设置字体大小-->
        <script>
            $(function (){
                $('#file').change(function(){//绑定onchang事件
                    run(this, function (data) {
                        uploadImage(data);
                    });
                });
            })
            function run(input_file, get_data) {
                /*input_file：文件按钮对象*/
                /*get_data: 转换成功后执行的方法*/
                if (typeof (FileReader) === 'undefined') {
                    alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
                } else {
                    try {
                        /*图片转Base64 核心代码*/
                        var file = input_file.files[0];
                        //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
                        if (!/image\/\w+/.test(file.type)) {
                            alert("请确保文件为图像类型");
                            return false;
                        }
                        var reader = new FileReader();
                        reader.onload = function () {
                            get_data(this.result);
                        }
                        reader.readAsDataURL(file);
                    } catch (e) {
                        alert('图片转Base64出错啦！' + e.toString())
                    }
                }
            }

            function uploadImage(img) {
                $.ajax({
                    type: "POST",
                    url: '/login/uploadImgers',
                data: { "file": img.substr(img.indexOf(',') + 1)},    //视情况将base64的前面字符串data:image/png;base64,删除
                cache: false,
                    success: function(data) {
                        if (data=="0"){
                            alert("上传失败!");
                            return;
                        }else{
                            alert("上传成功!");
                        }
                    $("#articleImg").attr('src',"http://www.1jia1hczm.com/"+data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("上传失败，请检查网络后重试");
                }
            });
            }


            //*************************************//
            function dianimges(){
                document.getElementById("file").click();
            }
             function imgChange(){

             }
        </script><!--设置字体大小-->

    </head>
    <body>

        <!--

         * 17素材vip建站专区模块代码
         * 详尽信息请看官网：http://www.17sucai.com/pins/vip
         *
         * Copyright , 温州易站网络科技有限公司版权所有
         *
         * 请尊重原创，未经允许请勿转载。
         * 在保留版权的前提下可应用于个人或商业用途

        -->

        <section class="aui-flexView">
            <section class="aui-scrollView">
                <div align="left ">
                    <a href="/aa">返回</a>
                </div>
                <div class="aui-member-head"></div>
                <div class="aui-member-box">
                    <div class="aui-member-bg">
                        <div class="aui-flex">
                            <div class="aui-member-user" onclick="dianimges()">
                                <form hidden method="POST" action="/login/uploadImgers" enctype="multipart/form-data">
                                    <input   type="file" name="file" id="file"  accept="image/*"  onchange="imgChange();" />
                                </form>


                                <img id="articleImg" th:src="@{'http://www.1jia1hczm.com/'+${session.user.userImges}}" >
                            </div>
                            <div  class="aui-flex-box">
                                <h3>[[${session.user.userName}]]</h3>
                                <p>商家</p>
                            </div>
                            <div class="aui-member-sign">
                                <a href="/login/exit"><i class="icon icon-sign"></i>退出</a>
                            </div>
                        </div>
                        <div class="aui-grids">
                            <a href="/gocar/carList" class="aui-grids-item">
                                <div class="aui-grids-item-icon">
                                    <span style="color: red">[[${session.carCount}]]</span>
                                </div>
                                <div class="aui-grids-item-text">已发布</div>
                            </a>
                            <a href="/insue/issueLoad" class="aui-grids-item">
                                <div class="aui-grids-item-icon">
                                    <span style="color: red">添加</span>
                                </div>
                                <div class="aui-grids-item-text">新增汽车</div>
                            </a>
                            <a href="javascript:;" class="aui-grids-item">
                                <div class="aui-grids-item-icon">
                                    <span></span>
                                </div>
                                <div class="aui-grids-item-text"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="aui-flex aui-flex-bg">
                    <div class="aui-flex-box">
                        <p>修改个人信息</p>
                    </div>
                    <a th:href="@{/login/instalLoad}">
                    <div class="aui-ren-arrow">
                        <span>设置</span>
                    </div>
                    </a>
                </div>
                <div class="divHeight"></div>
                <div class="aui-flex aui-flex-bg b-line">
                    <div class="aui-flex-box">
                        <a href="tel:18827405717"><p>联系1+1客服</p></a>
                    </div>
                    <div class="aui-ren-arrow">
                        <span></span>
                    </div>
                </div>
                <div class="divHeight"></div>
                <div class="aui-flex aui-flex-bg b-line">
                    <div class="aui-flex-box">
                        <p>意见建议</p>
                    </div>
                    <div class="aui-ren-arrow">
                        <span>期待您的反馈</span>
                    </div>
                </div>
                <div class="aui-flex aui-flex-bg b-line">
                    <div class="aui-flex-box">
                        <p>关于我们</p>
                    </div>
                    <div class="aui-ren-arrow">
                        <span></span>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
